body{
    background-color: #59b3e0;
}


.card-panel-login{
    width: 400px;
    margin: auto;
    margin-top: 200px;
}

.card-panel-login .card-title{
    padding: 30px;
}
.card-panel-login .btn{
    background: linear-gradient(70deg, #6ecade, #dc48f5);
    border-color: transparent !important;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    width: 200px;
}
.card-panel-login .btn:hover{
    width: 300px;
}

.btn-login{
	color: #817a7a;
    text-decoration: none;
}

.btn-login:hover{
    color: #ef7a6e !important;
    cursor: pointer;
    font-weight: 600;
}