body{
    background-color: #ffe8e8;
}

.color-form-head{
	background: linear-gradient(70deg, #ef7a6e, #5469a5);
}

.logo-brand{
    margin-top: 20px;
    align-self: center;
}

.card-panel-login{
    width: 400px;
    margin: auto;
    margin-top: 100px;
	border-radius : 15px
}

.card-panel-login .card-title{
    padding: 30px;
	font-size: 22px;
	color: white;
}

.card-panel-login .btn{
    background: linear-gradient(70deg, #ef7a6e, #5469a5);
    border-color: transparent !important;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    width: 200px;
}
.card-panel-login .btn:hover{
    width: 300px;
}
 .btn-login {
	color: #817a7a;
    text-decoration: none;
 }

.btn-login:hover{
    color: #ef7a6e !important;
    cursor: pointer;
    font-weight: 600;
}